html body {
  --primary200: #e6f2f7;
  --primary300: #b3d9e6;
  --primary400: #064663;
  --primary500: #053a50;
  --primary600: #042f3d;
  --primary700: #032329;
  --primary800: #021c20;
  --primary900: #011417;

  --secondary: #fcfcfc;
  --background: #fcfcfc;
}

[data-theme='dark'] {
  --primary200: #e6f2f7;
  --primary300: #b3d9e6;
  --primary400: #0a5a7a;
  --primary500: #064663;
  --primary600: #053a50;
  --primary700: #042f3d;
  --primary800: #032329;
  --primary900: #021c20;

  --secondary: #101829;
  --background: #101829;
}
